/*code・import*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*body*/
body {
	margin-right: auto;
	margin-left : auto;
	font-family: 'MS UI Gothic', "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 32px;
	font-size: 18px;			/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	letter-spacing: 0;
	text-align: left;
	vertical-align: middle;
	background: #f2f2f2;	/*011930*/
	white-space: nowrap;
	width: 1356px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	scrollbar-arrow-color:#f2f2f2 ;
	scrollbar-face-color:#f2f2f2 ;
	scrollbar-3dlight-color:#f2f2f2 ;
	scrollbar-darkshadow-color:#f2f2f2 ;
	scrollbar-highlight-color:#f2f2f2 ;
	scrollbar-shadow-color:#f2f2f2 ;
	scrollbar-track-color:#f2f2f2 ;
	-webkit-text-size-adjust: none;
}
::-webkit-scrollbar {	/*スクロールバー全体*/
	width: 10px;
}
::-webkit-scrollbar-track {	/*スクロールバーの軌道*/
	border-radius: 10px;
	box-shadow: inset 0 0 6px #f2f2f2;
}
::-webkit-scrollbar-thumb {	/*スクロールバーの動く部分*/
	background: #4f4f4f;
}
.scrollbox::-webkit-scrollbar-corner {/*右下角部分*/
	background: #4f4f4f;
}
/*format*/
h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
	font-size: 18px;	/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	font-weight: normal;
	letter-spacing: 1px;
}
h1 ,h2 {margin: 10px 0 2px 16px;}
h3 ,h4 ,h5 ,h6 {margin: 2px 0 4px 20px;}
p {	margin: 0 0 2px 24px;}
hr {
	width: 1214px;
	border: none;
	border-top: 1px #6e6e6e solid;
}
/*font*/
.clr-f1 {color: #111111;}
.clr-f2 {color: #2e2e2e;}
.clr-f3 {color: #4c4c4c;}
.clr-f4 {color: #696969;}
.clr-f5 {color: #878787;}
.clr-f6 {color: #a4a4a4;}
.clr-f7 {color: #c2c2c2;}
.f14-lg,.box-dg,.ac1 {font-size: 14px;}
.clr-w {color: #ffffff;}
.clr-r {color: #ff6633;}
.clr-g {color: #6e6e6e;}
.clr-gy {color: #006c00;}	/*green*/
.clr-lb {color: #0e56dd;}	/*light blue*/	/*#0b44ad;cobalt blue*/
.ac1,.clr-g,.ls04 {letter-spacing: 0.4pt;}
.ls411 {letter-spacing: 4.11pt;}
.b {
	font-weight: 700;
	letter-spacing: 1px;
	color: #666666;
}
.bb {
	font-weight: 700;
	color: #666666;
}
.aa {
	font-size: 16px;
	line-height: 15px;
	margin: 60px 0 15px 60px;
}
.td1 {
	border-top: solid 0.05em #666666;
	border-bottom: solid 0.05em #666666;
}
.td2 {
	border-bottom: solid 0.05em #0e56dd;	/*light blue*/
	color: #0e56dd;	/*light blue*/
}
.td3 {
	border-bottom: solid 0.05em #f2f2f2;	/*E/C-class 画像サイト*/
	color: #f2f2f2;
}
.td3:hover {
	border-bottom: solid 0.05em #59f3ff ;	/*pale blue E/C-class 画像サイト**/
	color: #59f3ff ;	/*pale blue E/C-class 画像サイト**/
}
/*文字列*/
a {	text-decoration: none;}
a:link {color: #060606;}	/*標準*/
a:visited {color: #060606;}	/*標準*/
.lnk:hover {
	color: #006c00;	/*green*/
	border-bottom: solid 0.05em #006c00;	/*green*/
}
.lnk2:hover {
	color: #0e56dd;	/*light blue*/
	border-bottom: solid 0.05em #0e56dd;	/*light blue*/
}
.top {vertical-align: top;}
.left {text-align: left;}
.mid {text-align: center;}
.r ,.ru {text-align: right;}
.ru {margin-top: -1.85em;}
.lh0 {
	line-height: 0;
	color: #f2f2f2;
}
.lh1 {line-height: 0.95em;}
/*PB（下 margin）*/
.pb1 {padding-bottom: 0.7em;}
.pb2 {padding-bottom: 1.4em;}
.pb3 {padding-bottom: 2.8em;}
.pb4 {padding-bottom: 4.2em;}
.pb5 {padding-bottom: 5.6em;}
.pb6 {padding-bottom: 7em;}
.pb7 {padding-bottom: 8.4em;}
.pb8 {padding-bottom: 9.8em;}
.pb9 {padding-bottom: 11.2em;}
.pb10 {padding-bottom: 12.6em;}
.pb11 {padding-bottom: 14em;}
.pb12 {padding-bottom: 15.4em;}
/*W*/
.w1 {width: 1em;}
.w2 {width: 2em;}
.w3 {width: 3em;}
.w4 {width: 4em;}
.w5 {width: 5em;}
.w6 {width: 6em;}
.w7 {width: 7em;}
.w8 {width: 8em;}
.w9 {width: 9em;}
.w10 {width: 10em;}
.w12 {width: 12em;}
.w13 {width: 13em;}
.w14 {width: 14em;}
.w15 {width: 15em;}
.w16 {width: 16em;}
.w18 {width: 18em;}
.w20 {width: 20em;}
.w22 {width: 22em;}
.w24 {width: 24em;}
.w25 {width: 25em;}
.w30 {width: 30em;}
.w35 {width: 35em;}
.w90 {width: 90em;}
.w100 {width: 1040px;}
.w110 {width: 1090px;}
.w116 {width: 1188px;}
.w120 {width: 1200px;}
.w123 {width: 1234px;}
.w130 {width: 1300px;}
/*S（右 margin）*/
.s {margin-right: 0.5em;}
.s2 {margin-right: 1em;}
.s3 {margin-right: 1.5em;}
.s4 {margin-right: 2em;}
.s5 {margin-right: 2.5em;}
.s6 {margin-right: 3em;}
.s7 {margin-right: 3.5em;}
.s8 {margin-right: 4em;}
.s10 {margin-right: 5.18em;}	/*年表*/
.s12 {margin-right: 6em;}
.s14 {margin-right: 7em;}
.s16 {margin-right: 8em;}
/*T（上 margin）*/
.t0 {margin-top: 0.8em;}
.t0a {margin-top: -0.16em;}
.t0c {margin-top: 0.5em;}
.t1 {margin-top: 1.6em;}
.t1a {margin-top: 1.9em;}
.t2 {margin-top: 3.2em;}
.t2a {margin-top: 4em;}
.t3 {margin-top: 4.8em;}
.t4 {margin-top: 6.4em;}
.t4a {margin-top: 5.63em;}
.t5 {margin-top: 8em;}
.t12 {margin-top: 12em;}
.t17 {margin-top: 17em;}
.t18 {margin-top: 18em;}
.t18a {margin-top: 17.8em;}
.t37 {margin-top: 7.55em;}
.t21a {margin-top: 21.7em;}
/*M（左 margin）*/
.m-1 {margin-left: -1em;}
.m0 {margin-left: 0;}
.m0a {margin-left: 0.68em;}
.m0b {margin-left: 0.38em;}
.m0c {margin-left: 0.93em;}
.m0d {margin-left: 0.22em;}
.m0e {margin-left: 0.78em;}
.m0f {margin-left: 0.3em;}
.m0g {margin-left: 0.86em;}
.m0h {margin-left: 0.42em;}
.m0j {margin-left: 0.18em;}
.m0k {margin-left: 0.8em;}
.m0m {margin-left: 0.58em;}
.m0n {margin-left: 0.1em;}
.m0p {margin-left: 0em;}
.m1 {margin-left: 1em;}
.m1a {margin-left: 1.96em;}
.m1b {margin-left: 1.36em;}
.m1c {margin-left: 1.05em;}
.m1d {margin-left: 1.6em;}
.m1e {margin-left: 1.1em;}
.m1f {margin-left: 1.24em;}
.m1g {margin-left: 1.05em;}
.m1h {margin-left: 1.3em;}
.m1j {margin-left: 1.68em;}
.m1k {margin-left: 1.9em;}
.m1m {margin-left: 1.3em;}
.m2 {margin-left: 2em;}
.m2a {margin-left: 2.5em;}
.m2b {margin-left: 2.18em;}
.m2c {margin-left: 2.05em;}
.m2d {margin-left: 2.64em;}
.m2e {margin-left: 2.3em;}
.m2f {margin-left: 2.46em;}
.m3 {margin-left: 3em;}
.m3a {margin-left: 3.36em;}
.m3b {margin-left: 3.4em;}
.m3c {margin-left: 3.7em;}
.m3d {margin-left: 3.5em;}
.m4 {margin-left: 4em;}
.m4a {margin-left: 4.33em;}
.m4b {margin-left: 4.15em;}
.m4c {margin-left: 4.46em;}
.m4d {margin-left: 4.52em;}
.m4e {margin-left: 4.193em;}
.m4f {margin-left: 4.86em;}
.m05 {margin-left: 5em;}
.m05a {margin-left: 5.92em;}
.m05b {margin-left: 5.83em;}
.m05c {margin-left: 5.64em;}
.m05d {margin-left: 5.73em;}
.m06 {margin-left: 6em;}
.m06a {margin-left: 6.41em;}
.m06b {margin-left: 6.6em;}
.m06c {margin-left: 6.6em;}
.m06d {margin-left: 6.74em;}
.m07 {margin-left: 7em;}
.m07a {margin-left: 7.3em;}
.m08 {margin-left: 8em;}
.m08a {margin-left: 8.2em;}
.m08b {margin-left: 8.5em;}
.m09 {margin-left: 9em;}
.m09b {margin-left: 9.1em;}
.m09a {margin-left: 9.42em;}
.m10 {margin-left: 10em;}
.m10a {margin-left: 10.9em;}
.m11 {margin-left: 11em;}
.m11a {margin-left: 11.5em;}
.m11b {margin-left: 11.68em;}
.m11c {margin-left: 11.15em;}
.m12 {margin-left: 12em;}
.m12a {margin-left: 12.06em;}
.m12b {margin-left: 12.24em;}
.m13 {margin-left: 13em;}
.m13a {margin-left: 13.71em;}
.m13b {margin-left: 13.38em;}
.m14 {margin-left: 14em;}
.m14a {margin-left: 14.7em;}
.m14b {margin-left: 14.57em;}
.m15 {margin-left: 15em;}
.m15a {margin-left: 15.04em;}
.m16 {margin-left: 16em;}
.m17 {margin-left: 17em;}
.m18a {margin-left: 18.36em;}
.m18 {margin-left: 19em;}
.m20 {margin-left: 20em;}
.m20a {margin-left: 20.3em;}
.m20b {margin-left: 20.94em;}
.m21 {margin-left: 21em;}
.m21a {margin-left: 21.95em;}
.m22 {margin-left: 22em;}
.m22a {margin-left: 22.3em;}
.m22b {margin-left: 22.64em;}
.m23 {margin-left: 23em;}
.m23a {margin-left: 23.2em;}
.m24 {margin-left: 24em;}
.m25 {margin-left: 25em;}
.m25a {margin-left: 25.36em;}
.m26 {margin-left: 26em;}
.m26a {margin-left: 26.37em;}
.m26b {margin-left: 26.32em;}
.m27 {margin-left: 27.4em;}
.m27a {margin-left: 27.86em;}
.m27b {margin-left: 27.94em;}
.m28 {margin-left: 28em;}
.m29 {margin-left: 29em;}
.m29a {margin-left: 29.64em;}
.m30 {margin-left: 30em;}
.m31a {margin-left: 31.4em;}
.m33 {margin-left: 33em;}
.m33a {margin-left: 33.4em;}
.m34a {margin-left: 34.58em;}
.m37 {margin-left: 36.7em;}
.m39 {margin-left: 39em;}
.m41 {margin-left: 41em;}
.m43 {margin-left: 43em;}
.m45 {margin-left: 45em;}
.m47 {margin-left: 47em;}
.m48 {margin-left: 48.1em;}
.m51 {margin-left: 51em;}
.m53 {margin-left: 53em;}
.m54 {margin-left: 54em;}
.m66 {margin-left: 66em;}
/*img・ico*/
img {
	vertical-align: top;
	margin: 0;
	padding: 2pt 0;
}
.kakumaru {	border-radius:10px;}	/*Interior Trim*/
.ico-wiki,.ico-wiki2,.ico-camera,.ico-eg {
	display: inline-block;
	background-repeat: no-repeat;
}
.ico-wiki {
	width: 17px;
	margin-right: 3px;
	background-image: url('ico/wiki.png');
	height: 17px;
}
.ico-wiki2 {
	width: 17px;
	margin-right: 3px;
	background-image: url('ico/wiki.png');
	height: 14px;
}
.ico-camera {
	width: 20px;
	height: 16px;
	background-image: url('ico/camera.png');
}
.ico-eg {
	width: 20px;
	height: 16px;
	background-image: url('ico/eg.png');
}
/*list*/
table {
	font-family: 'MS UI Gothic';
	padding: 0 0 1em 0;
	text-align: center;
	margin-left: 1em;
	table-layout: auto;
}
ul ,ol ,li ,dl ,dt {
	padding: 0;
	margin: 0;
}
ul ,ol ,dl {
	list-style: none;
	overflow: hidden;
	position: relative;
	zoom: 1;
}
dt {
	float: left;
	clear: left;		/*後続の左寄せを解除*/
}
dd {
	padding: 0;
	margin: 0 1em 0 0;
	float: left;
}
table, th, td {border:none;}
th {
	padding: 0 8px 0 0;
	font-weight: 400;
	border-bottom: 1px dashed #666666;	/*ヘッダ行の下線 */
}
tr {vertical-align: top;}
td {padding: 0 8px 0 0;}
.fix {
	width: 1210px;
	table-layout: fixed;
}
.trim_name {overflow-wrap : break-word;}
/*inline*/
.i {display: inline;}
.ib {display: inline-block;}
.wp {
	white-space: normal;	/*折り返し*/
	word-wrap: break-word;
}
.cb {	clear: both;}	/*inline要素を殺したいとき*/
/*DIV*/
div {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;	/*DWで正常にプレビューできるようになる*/
	zoom: 1;		/*IE6でレイアウト崩れを防ぐ*/
}
.style-w {			/*画像グレイ背景*/
	background: #4f4f4f;
	color: #f2f2f2;
	padding: 0.9%;
}
.style-n ,.style-w {	/*中央寄せ*/
	width: 1214px;
	margin-left: auto;
	margin-right: auto;
}
.bk-w {	background: #ffffff;}
.f {float: left;}
.float {clear: none;}		/*後続の左寄せを解除しない*/
.nofloat {float: none;}		/*後続の左寄せをしない*/
/*Vertical*/
.v90 ,.v120 ,.v150 ,.v200 ,.v220 ,.v240 ,.v260 ,.v280 ,.v300 ,.v320 ,.v350 ,.v400 ,.v420 ,.v450 ,.v470 ,.v500 ,.v600 ,.v640 ,.v680 ,.v750 ,.v830 ,.v900 ,.v1000 ,.v1100 ,.v1200 ,.v1500 ,.v2000 ,.v3200 ,.v3400 ,.v14000 ,.vs60 ,.vs90 ,.vs120 ,.vs150 ,.vs170 ,.vs200 ,.vs240 ,.vs260 ,.vs300 ,.vs330 ,.vs360 ,.vs380 ,.vs400 ,.vs420 ,.vs440 ,.v3200 ,.v3800 ,.v4100 ,.v5600{
	position: absolute;
	width: 10px;
	padding: 0;
}
.v90 ,.v120 ,.v150 ,.v200 ,.v220 ,.v240 ,.v260 ,.v280 ,.v300 ,.v320 ,.v350 ,.v400 ,.v420 ,.v450 ,.v470 ,.v500 ,.v600 ,.v640 ,.v680 ,.v750 ,.v830 ,.v900 ,.v1000 ,.v1100 ,.v1200 ,.v1500 ,.v2000 ,.v3200 ,.v3400 ,.v3800 ,.v4100 ,.v5600{
	background: #b0b0b0 ;
	margin: 4px 0 0 10px;
}
.vs60 ,.vs90 ,.vs120 ,.vs150 ,.vs170 ,.vs200 ,.vs240 ,.vs260 ,.vs300 ,.vs330 ,.vs360 ,.vs380 ,.vs400 ,.vs420 ,.vs440{
	background: #b0b0b0  ;
	margin: 6px 0 0 22px;
}
.vs60 {height: 60px;}
.vs90 ,.v90 {height: 90px;}
.vs120 ,.v120 {height: 120px;}
.v150 ,.vs150 {	height: 150px;}
.vs170 {height: 170px;}
.vs200 {height: 200px;}
.v200 {	height: 200px;}
.v220 {	height: 220px;}
.vs240 ,.v240 {height: 240px;}
.vs260 ,.v260 {height: 260px;}
.v280 {height: 280px;}
.v300 ,.vs300 {height: 300px;}
.v320 {height: 320px;}
.vs330 {height: 330px;}
.v350 {height: 350px;}
.vs360 {height: 360px;}
.vs380 {height: 380px;}
.v400 ,.vs400 {	height: 400px;}
.vs420 ,.v420  {height: 420px;}
.vs440 {height: 480px;}
.v450  {height: 450px;}
.v470  {height: 470px;}
.v500 {	height: 500px;}
.v600 {	height: 600px;}
.v640 {	height: 640px;}
.v680 {	height: 680px;}
.v750 {	height: 760px;}
.v830 {	height: 830px;}
.v900 {	height: 900px;}
.v1000 {height: 1020px;}
.v1100 {height: 1100px;}
.v1200 {height: 1130px;}
.v1500 {height: 1500px;}
.v2000 {height: 2040px;}
.v3200 {height: 3200px;}
.v3400 {height: 3400px;}
.v3800 {height: 3840px;}
.v4100 {height: 4170px;}
.v5600 {height: 5610px;}
/*BOX*/
.box06 ,.box07 ,.box07a ,.box09 ,.box10 ,.box10a ,.box11 ,.box12 ,.box12a ,.box13 ,.box14 ,.box14b ,.box15 ,.box16a ,.box17 ,.box17a ,.box19 ,.box19a ,.box20 ,.box21 ,.box21a ,.box22 ,.box23 ,.box25 ,.box26 ,.box28 ,.box28a ,.box29a ,.box29 ,.box30 ,.box35 ,.box36 ,.box38a ,.box38 ,.box40 ,.box41 ,.box42 ,.box43 ,.box44 ,.box46 ,.box47a ,.box48 ,.box49 ,.box50 ,.box50a ,.box50b ,.box51 ,.box52 ,.box53 ,.box56 ,.box58 ,.box59 ,.box60 ,.box61 ,.box62 ,.box67 ,.box68 ,.box70 ,.box71 ,.box71a ,.box72 ,.box74 ,.box76 ,.box80 ,.box81 ,.box90 ,.box104 ,.box-dg {
	float: left;
}
.box06 {width: 60px;}
.box07 {width: 70px;}
.box07a {width: 74px;}
.box09 {width: 90px;}
.box10 {width: 100px;}
.box10a {width: 108px;}
.box11 {width: 110px;}
.box12 {width: 120px;}
.box12a {width: 126px;}
.box13 {width: 130px;}
.box14 {width: 140px;}
.box14b {width: 148px;}
.box15 {width: 150px;}
.box16a {width: 164px;}
.box17 {width: 170px;}
.box17a {width: 176px;}
.box19 {width: 190px;}
.box19a {width: 194px;}
.box20 {width: 200px;}
.box21 {width: 210px;}
.box21a {width: 214px;}
.box22 {width: 220px;}
.box23 {width: 230px;}
.box25 {width: 250px;}
.box26 {width: 260px;}
.box27 {width: 270px;}
.box28 {width: 280px;}
.box28a {width: 286px;}
.box29a {width: 290px;}
.box29 {width: 320px;}
.box30 {width: 330px;}
.box35 {width: 350px;}
.box36 {width: 360px;}
.box38a {width: 380px;}
.box38 {width: 392px;}
.box40 {width: 400px;}
.box41 {width: 406px;}
.box42 {width: 410px;}
.box43 {width: 418px;}
.box44 {width: 440px;}
.box46 {width: 470px;}
.box48 {width: 480px;}
.box49 {width: 490px;}
.box50 {width: 500px;}
.box50a {width: 504px;}
.box50b {width: 506px;}
.box51 {width: 510px;}
.box52 {width: 520px;}
.box53 {width: 525px;}
.box56 {width: 560px;}
.box58 {width: 580px;}
.box59 {width: 592px;}
.box60 {width: 600px;}
.box61 {width: 606px;}
.box62 {width: 620px;}
.box67 {width: 670px;}
.box68 {width: 680px;}
.box70 {width: 699px;}
.box71 {width: 706px;}
.box71a {width: 716px;}
.box72 {width: 720px;}
.box74 {width: 740px;}
.box77 {width: 770px;}
.box80 {width: 804px;}
.box81 {width: 808px;}
.box90 {width: 900px;}
.box104 {width: 1140px;}
.box121 {width: 1210px;}
.box-full {width: 1302px;}
.box-135 {width: 1350px;}
.box-wide {width: 1390px;}
/*Timeline*/
.timeline1,.timeline2,.timeline3 {
	width:142.5px;
	float: left;
	padding: 0;
	margin: 0 0 0 10.8em;
	border-left: 1px dashed #888888;
}
.timeline1,.timeline2 {
	border-right: 1px dashed #888888;
}
.timeline2,.timeline3 {margin: 0 0 0 8.1em;}
.ht36 {	height:430px;}
.ht52 {	height:590px;}
.ht60 {	height:720px;}
.ht68 {	height:780px;}
.btm-lg {border-bottom: 1px solid #888888;}
.btm-lg-dash {border-bottom: 1px dashed #888888;}
/*Top*/
.wood {
	position: absolute;/*絶対配置*/
	background: #4f4f4f ;
	width: 1356px;
	height: 50px;
	border-bottom:solid 2px #ffffff;
}
.b-box {
	width: 1060px;
	height: 34px;
	position: absolute;/*絶対配置*/
	background: #000000;
	top: 46%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
}
.box-dg {
	background: #444444;
	color: #f0f0f0;
	font-family: Lato;
	text-align: center;
	height: 32px;
	letter-spacing: 6px;
	width: 150px;
	margin: 2px 0.5px;
	border-top:solid 2px #555555;
	border-right:solid 2px #777777;
	border-bottom:solid 2px #000000;
	border-left:solid 2px #333333;
	border-radius: 4px;
}
.box-dg:hover {
	background: #333333;
	color: #ffffff;
	border-top:solid 2px #333333;
	border-right:solid 2px #555555;
	border-bottom:solid 2px #000000;
	border-left:solid 2px #111111;
	transition: background-color 0.5s;	
}
/*Side txt*/
.bk,.bk2{
	font-family: Lato;
	position: absolute;
	background: no-repeat;
	width: 1302px;
}
.bk	{opacity: 1;}	/*文字透過*/
.bk2	{padding: 0;
	text-align: right;
}
.inside,.r-side {
	font-size: 4em;
	line-height: 1.4em;
	color: #d6d6d6;	/*標準↑↑*/
	text-align: center;
}
.r-side {	text-align: right;}
/*before >> ▼ ■*/
.bf1:before {
	content: ">>";
	margin-left:30px;
	margin-right:5px;
	color: #6e6e6e;	/*標準↑*/
}
.bf2:before {
	content: "▼";
	margin-right:10px;
	color: #888888;	
}
.bf3:before {
	content: "■ ";
	color: #444444;	/*標準↑*/
}
/*Accordion*/
.ac1 {	/*▼対応*/
	color: #6e6e6e;	/*標準↑*/
	font-family: Lato;
	border:solid 1px #6e6e6e;
	width: 1340px;
	line-height: 26px;
	text-indent: -5px;
	clear: both;
	cursor: pointer;
	margin: 0 10px 4px;
	border-radius: 2px;
}
.ac1:hover {
	color: #000000;	/**/
	background: #ececec ;	/*薄いwhite*/
	transition: 0.2s;
}
.ac1:focus {
	color: #0e56dd;	/*light blue*/
	background: #ececec ;
	transition: 0.2s;
}
.bn {	border: 0;}
.ac2 {
	width: 1302px;
	line-height: 28px;
}	/*＞＞対応*/
.ac2:hover {
	color: #0e56dd;	/*light blue*/
	transition: background 0.2s;
}
.ac2:focus {
	color: #0e56dd;	/*light blue*/
	transition: background 0.2s;
}
/*Button・Search*/
button, input, select, textarea {
	font-family: inherit;
}
.keywords1 {
	color: #141e31;	/*褐返し*/
	font-style:italic;
	font-size: 16px;
	width: 260px;
	padding: 4px 4px;
	background: #748963 ;	/*黄緑みのグレイ*/
	opacity: 0.8;
	border: none;
	display: inline-block;
}
.keywords1:hover {
	background: #8eab4c;	/*グレイみの抹茶*/
	transition: background 0.2s;	
}
.keywords1:focus {
	background: #8eab4c;	/*グレイみの抹茶*/
}
input:focus {
	outline: none;
	color: #1b2943;	/*褐返し*/
}
.square_btn {
	color: #555555;	/*標準^*/
	font-family: Lato;
	font-size: 12px;
	text-align: center;
	padding: 0 8pt;
	height: 16pt;
	background: #f2f2f2;
	border:solid 1px #6e6e6e;	/*標準↑*/
	border-radius: 1px;
	display: inline-block;
}
.square_btn:hover {
	color: #134013;			/*グレイみの抹茶*/
	background: #ececec ;
	border:solid 1px #555555;	/*標準^*/
}
/* page-top */
#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 30px;
	padding: 5px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#page-top a:hover {
	text-decoration: none;
	background: #999;
}