@charset "UTF-8";
/* ==========================================================================
   Base & Reset
   ========================================================================== */
body {
	font-family: '游ゴシック', 'Hiragino Sans', sans-serif;
	line-height: 2.1;
	font-size: 18px;
	color: #000;
	letter-spacing: 0;
	text-align: left;
	vertical-align: middle;
	background: #f1f1f1;
	margin: 0;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none
}
.contents {
	width: 1220px;
	margin: 0 auto
}
article,aside,div,main,nav,section {
	width: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	zoom: 1
}
.center,
.style-w {
	margin-left: auto;
	margin-right: auto
}
h1,
h2 {
	font-size: 17px;
	font-weight: 700;
	color: #666;
	margin: 4px 0 4px 18px
}
h3,
h4,
h5 {
	font-size: 17px;
	font-weight: 400;
	margin: 2px 0 4px 8px
}
p { margin: 0 }
img {
	vertical-align: top;
	margin: 0;
	padding: 2pt 0
}
dl,dt,li,ul {
	padding: 0;
	margin: 0
}
dl,ol,ul {
	overflow: hidden;
	position: relative;
	zoom: 1
}
dl,ul { list-style: none }
.pochi {
 list-style-type: disc;
  padding-left: 1em;
}
.pochi li { display: list-item; }
dt {
	float: left;
	clear: left
}
dd {
	padding: 0;
	margin: 0 40px 0 0;
	float: left
}
table {
	padding: 0;
	text-align: center;
	table-layout: auto
}
table,td,th {
	border: none
}
th {
	padding: 0 8px 0 0;
	font-weight: 400;
	border-bottom: 1px #777 solid
}
tr { vertical-align: top}
td {
	padding: 0 8px 0 0;
	vertical-align: top
}
.fix { table-layout: fixed}
.bd { border-bottom: 1px #999 solid}
.i { display: inline}
.ib { display: inline-block}
.wp {
	white-space: normal;
	word-wrap: break-word
}
.fn { float: none}
.cb { clear: both}
.f { float: left }
.float { clear: none }
.nofloat { float: none }
a {
	text-decoration: underline;
	text-decoration-thickness: .7px
}
a:link,
a:visited { color: #000 }
a:hover {
	color: #2600ff;
	text-decoration: none
}
a.lnk3,
a.lnk3:visited {
	line-height: 40px;
	color: #fbfbfba5;
	font-weight: 700;
	text-decoration: none
}
a.lnk3:hover { color: #fff }
.b,.bb,.b a {
	font-weight: 700;
	color: #666
}
.bb { color: #000}
hr {
	margin-left: 4px;
	border-top: 1.4px solid #666
}
.tin {
	border-top: .1px solid #ababab;
	margin: 1%;
}
.top { vertical-align: top }
.justify { text-align: justify }
.left { text-align: left }
.mid { text-align: center }
.r,
.ru {
	text-align: right;
	margin-right: 30px
}
.ru { margin-top: -33.3px }
.af0::after { content: " :" }
.af4:after,
.af4a:after,
.bf4:before {
	content: "|";
	color: #444;
	font-weight: 700;
	margin: 10px
}
.af4a:after { margin-right: 0 }
.td3 { color: #f2f2f2 }
.td4 { color: red }
.td3:hover,
.td4:hover {
	border-bottom: solid 1.8px #59f3ff;
	color: #59f3ff
}

.t0 { margin-top: .8px }
.t0f { margin-top: 3px }
.t0c { margin-top: 7.2px }
.t0a { margin-top: 8px }
.t0g { margin-top: 8.6px }
.t0i { margin-top: 9.2px }
.t0h { margin-top: 10px }
.t0b { margin-top: 14px }
.t0j { margin-top: 18.6px }
.t0d { margin-top: 19.8px }
.t0e { margin-top: 27.36px }
.t1 { margin-top: 28.8px }
.t6 { margin-top: 162px }

.s02 { margin-right: 16px }
.s04 { margin-right: 32px }
.s06 { margin-right: 48px }
.s13 { margin-right: 110px }

.pb00 { padding-bottom: 8px }
.pb01 { padding-bottom: 16px }
.pb02 { padding-bottom: 32px }
.pb03 { padding-bottom: 48px }
.pb04 { padding-bottom: 64px }

.m00 { margin-left: 0 }
.m0t { margin-left: 3.6px }
.m0d { margin-left: 5px }
.m0f { margin-left: 5.4px }
.m0b { margin-left: 6.84px }
.m0k { margin-left: 15.2px }
.m01 { margin-left: 18px }
.m1n { margin-left: 21.24px }
.m1b { margin-left: 24.48px }
.m02 { margin-left: 36px }
.m2c { margin-left: 42px }
.m2a { margin-left: 45px }
.m4 { margin-left: 72px }
.m06 { margin-left: 108px }
.m33 { margin-left: 594px }

.w4 { width: 72px }
.w5 { width: 90px }
.w11 { width: 198px }
.w12 { width: 216px }
.w14 { width: 252px }

.box15,
.box16,
.box18,
.box21,
.box27,
.box34,
.box36,
.box40,
.box41,
.box43,
.box46,
.box52a,
.box53,
.box54,
.box59a,
.box68b,
.box80b,
.box90
{ float: left }

.box15 { width: 150px }
.box16 { width: 160px }
.box18 { width: 180px }
.box21 { width: 210px }
.box27 { width: 270px }
.box34 { width: 340px }
.box36 { width: 360px }
.box40 { width: 400px }
.box41 { width: 410px }
.box43 { width: 430px }
.box46 { width: 460px }
.box52a { width: 525px }
.box53 { width: 530px }
.box54 { width: 540px }
.box59a { width: 592px }
.box68b { width: 684px }
.box80b { width: 808px }
.box90 { width: 900px }

/* accordion button */
#close-accordion,
#page-top {
	position: fixed;
	bottom: 70px;
	left: 4px;
	font-size: 77%;
	opacity: .6
}
#close-accordion {
	left: 15px;
}

#close-accordion a,
#page-top a {
	background: #666;
	color: #fff;
	text-decoration: none;
	width: 30px;
	padding: 5px 0;
	text-align: center;
	display: block;
	border-radius: 5px
}
#close-accordion a:hover,
#page-top a:hover {
	text-decoration: none;
	background: #000
}
#close-accordion { bottom: 20px }
.vmenu_all_action {
	margin: 0;
	margin-left: -10.8px
}
.vmenu_all_action span {
	cursor: pointer;
	font-size: 17px
}

/* scrollbar */
::-webkit-scrollbar { width: 4px }
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	height: 0
}

/* accordion */
.accordion { margin-bottom: .7rem }
.accordion-header {
	background: #fbfbfb;
	color: #111;
	padding: 12px 0 12px 60px;
	cursor: pointer;
	border: .125rem solid #707070;
	border-radius: 8px;
	transition: all .3s ease;
	display: flex;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	margin: 8px auto;
	text-align: left;
	font-size: inherit;
	position: relative
}
.accordion-header:hover { border: 2px solid #9e9e9e }
.accordion-header::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .625rem 0 .625rem 1rem;
	border-color: transparent transparent transparent #888;
	transition: all .3s ease;
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%)
}
.accordion-header.active::before {
	border-width: 16px 10px 0 10px;
	border-color: #666 transparent transparent transparent;
	left: 22px;
	top: 24px
}
.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease;
	background: #fbfbfb;
	width: 100%;
	margin: 0 auto
}
.accordion-content.active { max-height: 8000px }
.accordion-content-inner { padding: 0 }
.accordion-header:focus {
	outline: 2px solid #838383;
	outline-offset: 2px
}
.accordion-header.min {
	width: 100%;
	margin: 2px 0;
	padding: 8px 0 8px 50px;
	border: none;
	background-color: transparent;
	border-radius: 0
}
.accordion-header.min:hover {
  background: color-mix(in srgb, black, transparent 90%);
  border: none;
}
.accordion-header.min::before { left: 20px }
.accordion-header.min.active::before {
	border-width: 16px 10px 0 10px;
	border-color: #666 transparent transparent transparent;
	left: 18px;
	top: 50%;
	transform: translateY(-50%)
}
.accordion-header.min.active { background-color: transparent }
.accordion-header.min.active:hover {
  background: color-mix(in srgb, black, transparent 90%);
}
 .accordion-header {
	width: 100%;
	margin: 2px 0 2px 30px;
	padding: 8px 0 8px 50px;
	border: none;
	background-color: transparent;
	border-radius: 0
}
 .accordion-header:focus {
	outline: 0;
	box-shadow: none;
	border-left: none
}
 .accordion-header.active { border-left: none }
 .accordion-header:hover {
  background: color-mix(in srgb, black, transparent 90%);
	border: none
}
 .accordion-header::before { left: 20px }
 .accordion-header.active::before {
	border-width: 16px 10px 0 10px;
	border-color: #666 transparent transparent transparent;
	left: 18px;
	top: 50%;
	transform: translateY(-50%)
}
 .accordion-header.active {
	background-color: transparent
}
 .accordion-header.active:hover {
	background: color-mix(in srgb, black, transparent 90%); 
}
.accordion-header.subpage {
	background: 0 0;
	color: #f2f2f2;
	padding: 12px 12px 12px 12px;
	cursor: pointer;
	border: 2px solid #707070;
	border-radius: 22px;
	transition: all .3s ease;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 93%;
	margin: 12px auto;
	text-align: left;
	font-size: inherit;
	position: relative;
	gap: 8px
}
.accordion-header.subpage:hover {
	border: 2px solid #9e9e9e
}
.accordion-header.subpage::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .625rem 0 .625rem 1rem;
	border-color: transparent transparent transparent #f2f2f2;
	transition: all .3s ease;
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%)
}
.accordion-header.subpage.active::before {
	border-width: 1rem .625rem 0 .625rem;
	border-color: #f2f2f2 transparent transparent transparent;
	left: 22px;
	top: 50%;
	transform: translateY(-50%)
}
.accordion-content.subpage {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease;
	background: 0 0;
	width: 101%;
	margin: 10px auto 0
}
.accordion-content.subpage.active {
	max-height: 8000px
}
.accordion-header.subpage:focus {
	outline: 2px solid #f2f2f2;
	outline-offset: 2px
}
.accordion-content-inner.subpage {
	padding: 0;
	color: #f2f2f2
}
.accordion-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	gap: 10px
}
.accordion-left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	flex: 1
}
.accordion-right {
	margin-left: auto;
	padding: 0 18px 0;
	white-space: nowrap
}
.accordion-header.subpage span,
.accordion-header.subpage p {
	font-size: 17px;
	margin: 0 0 0 20px;
}
.accordion-header.subpage p {
	margin: 0 6px 0 6px
}
.accordion-multi-line {
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 0 24px;
	gap: 8px;
	width: 98%
}

/* icon */
.icon-link {
	margin: 0 4px 0 0
}
.icon-link {
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 0 6px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	flex-shrink: 0
}
.icon-link.wiki {
	background-image: url(ico/wiki.png);
	width: 17px;
	height: 17px
}
.icon-link.camera {
	background-image: url(ico/camera.png)
}
.icon-link.eg {
	background-image: url(ico/eg.png)
}

/* figure */
figure {
	padding: 0;
	max-width: 1210px;
	margin: 2px
}
figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 5px;
	text-align: center
}
.center_title,
.normal_title {
	background-color: #fbfbfb;
	color: #111;
	text-align: left;
	padding: 0
}
.center_title { text-align: center }

/* 不明 */
.scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0;
	left: 0
}
@keyframes fadeout-anim {
	100% {
		opacity: 0
	}
}
iframe { border-width: 0 }

/* history_pic */
.style-w {
	width: 1220px;
	padding: 5px;
	box-sizing: border-box;
	background: #4f4f4f;
	color: #f2f2f2
}

/* history */
.ac2 { width: 100% }
.ac2:hover { background: #fdfdfd}

/* style-bottom
========================================================================== */
