@charset "UTF-8";

.fs50p {
	font-size: 50%;
}

.fs80p {
	font-size: 80%;
}

.fs80pa {
	font-size: 80%;
	vertical-align: middle;
	line-height: 100%;
}

.fs99p {
	font-size: 99%;
}

.fs97p {
	font-size: 97%;
}

.fs96p {
	font-size: 96%;
}

.fs94p {
	font-size: 94%;
}

.fs93p {
	font-size: 93%;
}

.fs90p {
	font-size: 90%;
}

.fs88p {
	font-size: 88%;
}

.fs250p {
	font-size: 250%;
}

.fs300p {
	font-size: 300%;
}

.fs17 {
	font-size: 17px;
}

.f1 {
	color: #111;
}

.f2 {
	color: #222;
}

.f3 {
	color: #444;
}

.f4 {
	color: #666;
}

.f5 {
	color: #777;
}

.f6 {
	color: #888;
}

.f7 {
	color: #b3b3b3;
}

.f8 {
	color: #cccc;
}

.f9 {
	color: #ffffff;
}

.fl-w,
.fl-w2,
.fl-w2a,
.fl-w3,
.fl-w3a,
.fl-w4 {
	font-size: 400%;
	font-weight: bold;
	color: #ccc;
	line-height: 100%;
}

.fl-w2 {
	font-size: 370%;
}

.fl-w2a {
	font-size: 330%;
}

.fl-w3 {
	font-size: 300%;
}

.fl-w3a {
	font-size: 270%;
}

.fl-w4 {
	font-size: 200%;
}

.clr-or {
	color: orange;
}

.clr-co {
	color: #cc6600;
}

.clr-gy {
	color: #006c00;
}

.clr-lb {
	color: #0e56dd;
}

.clr-dgb {
	color: #384375;
}

.ls04 {
	letter-spacing: 0.4pt;
}

.ls411 {
	letter-spacing: 4.11pt;
}

.ls-13 {
	letter-spacing: -1.3pt;
}

.td1 {
	border-top: solid 0.9px #666;
	border-bottom: solid 0.9px #666;
}

.td2 {
	border-bottom: solid 0.9px #666;
}

/*E/C-class 画像サイト*/
.td3 {
	color: #f2f2f2;
}

.td3:hover {
	border-bottom: solid 1.8px #59f3ff;
	color: #59f3ff;
}

.lh1 {
	line-height: 0.99;
}

.lh2 {
	line-height: 1.4;
}

.af0::after {
	content: " :";
}

.bf0:before {
	content: "■ ";
}

.af1 {
	content: "/";
	color: #999;
	margin-left: 10px;
}

.bf1:before,
.bf1a:before,
.bf1b:before {
	content: "▼";
	margin: 0 10px 4px 0;
	padding-left: 18px;
	color: rgb(175, 175, 175);
}

.bf1a:before {
	margin: 0 10px 4px 10px;
	color: #f2f2f2;
}

.bf1b:before {
	margin: 0 54px 4px 0;
	color: #f2f2f2;
	font-size: 14pt;
}

.bf2:before {
	content: ">>";
	font-weight: 700;
	margin-left: 20px;
	margin-right: 5px;
	color: #444;
}

.bf4:before,
.af4:after {
	content: "|";
	color: #444;
	font-weight: 700;
	margin: 10px;
}

/* background */
.bgc-w {
	background-color: white;
}

.bgc-hp {
	background-color: rgb(255, 245, 250);
}

.bgc-lg {
	background-color: lightgreen;
}

.bgc-pb {
	background-color: powderblue;
}

.bgc-or {
	background-color: orange;
}

.bgc-ye {
	background-color: yellow;
}

.bgc-pp {
	background-color: rgb(197, 164, 250);
}

.bgc-g {
	background-color: rgb(97, 97, 97);
}

.bgc-amazon {
	background-color: #232F3E;
}

.bgc-amazon2 {
	background-color: #37475A;
}

.bgc-amazon3 {
	background-color: #0F1111;
}

.bgc-yamaha {
	background-color: #3b3b3b;
}

.bgc-yamaha2 {
	background-color: #dbdbdb;
}

.bgc-ricoh {
	background-color: #2e2e2e;
}

/*T（上 margin）*/
.t-320 {
	margin-top: -320px;
}

.t-60 {
	margin-top: -100px;
}

.t-50 {
	margin-top: -80px;
}

.t-08 {
	margin-top: -15px;
}

.t-07 {
	margin-top: -11px;
}

.t-07a {
	margin-top: -10.6px;
}

.t-06 {
	margin-top: -10px;
}

.t-05 {
	margin-top: -8.6px;
}

.t-04 {
	margin-top: -8px;
}

.t-03 {
	margin-top: -6px;
}

.t-02 {
	margin-top: -4px;
}

.t-01 {
	margin-top: -2px;
}

.t-005 {
	margin-top: -1px;
}

.t-002 {
	margin-top: -0.5px;
}

.t00 {
	margin-top: 0;
}

.t0 {
	margin-top: 0.8px;
}

.t0f {
	margin-top: 3px;
}

.t0c {
	margin-top: 7.2px;
}

.t0a {
	margin-top: 8px;
}

.t0g {
	margin-top: 8.6px;
}

.t0i {
	margin-top: 9.2px;
}

.t0h {
	margin-top: 10px;
}

.t0b {
	margin-top: 14px;
}

.t0j {
	margin-top: 18.6px;
}

.t0d {
	margin-top: 19.8px;
}

.t0e {
	margin-top: 27.36px;
}

.t1 {
	margin-top: 28.8px;
}

.t1d {
	margin-top: 31.5px;
}

.t1a {
	margin-top: 34px;
}

.t1g {
	margin-top: 35px;
}

.t1f {
	margin-top: 36px;
}

.t1b {
	margin-top: 43px;
}

.t1e {
	margin-top: 51px;
}

.t1c {
	margin-top: 53px;
}

.t1h {
	margin-top: 56px;
}

.t2 {
	margin-top: 57.6px;
}

.t2c {
	margin-top: 64px;
}

.t2d {
	margin-top: 68px;
}

.t2e {
	margin-top: 71px;
}

.t2a {
	margin-top: 72px;
}

.t2b {
	margin-top: 74px;
}

.t3 {
	margin-top: 76.8px;
}

.t3a {
	margin-top: 78px;
}

.t3b {
	margin-top: 88px;
}

.t3h {
	margin-top: 89px;
}

.t3c {
	margin-top: 90px;
}

.t3f {
	margin-top: 95px;
}

.t3j {
	margin-top: 106.5px;
}

.t3d {
	margin-top: 109.5px;
}

.t3i {
	margin-top: 115px;
}

.t3e {
	margin-top: 118px;
}

.t3g {
	margin-top: 124px;
}

.t4 {
	margin-top: 128px;
}

.t5 {
	margin-top: 158px;
}

.t5a {
	margin-top: 160px;
}

.t6 {
	margin-top: 162px;
}

.t7 {
	margin-top: 170px;
}

.t8 {
	margin-top: 178px;
}

.t8a {
	margin-top: 185px;
}

.t9 {
	margin-top: 194px;
}

.t10 {
	margin-top: 208px;
}

.t10a {
	margin-top: 216.5px;
}

.t11 {
	margin-top: 222px;
}

.t12 {
	margin-top: 236px;
}

.t21 {
	margin-top: 246px;
}

.t21c {
	margin-top: 285px;
}

.t21b {
	margin-top: 288px;
}

.t22 {
	margin-top: 316px;
}

.t22e {
	margin-top: 341.5px;
}

.t22c {
	margin-top: 354px;
}

.t22a {
	margin-top: 357px;
}

.t22d {
	margin-top: 392px;
}

.t22f {
	margin-top: 410px;
}

.t23 {
	margin-top: 429px;
}

.t23a {
	margin-top: 430.5px;
}

.t24 {
	margin-top: 466px;
}

.t25 {
	margin-top: 482px;
}

.t26 {
	margin-top: 501.5px;
}

.t30 {
	margin-top: 555px;
}

.t31 {
	margin-top: 572.5px;
}

.t32 {
	margin-top: 591px;
}

.t35 {
	margin-top: 644px;
}

.t36 {
	margin-top: 657px;
}

.t36a {
	margin-top: 663.5px;
}

.t37 {
	margin-top: 680px;
}

.t38 {
	margin-top: 697.5px;
}

.t39 {
	margin-top: 715.5px;
}

.t40b {
	margin-top: 732.4px;
}

.t40 {
	margin-top: 733px;
}

.t40a {
	margin-top: 750.5px;
}

.t41 {
	margin-top: 769px;
}

.t42b {
	margin-top: 786px;
}

.t42 {
	margin-top: 786.5px;
}

.t44 {
	margin-top: 822px;
}

.t46 {
	margin-top: 857.6px;
}

.t47 {
	margin-top: 875.5px;
}

.t48 {
	margin-top: 893.5px;
}

.t49 {
	margin-top: 911px;
}

.t50 {
	margin-top: 929px;
}

.t51 {
	margin-top: 965px;
}

.t54 {
	margin-top: 990px;
}

.t54c {
	margin-top: 1001px;
}

.t54a {
	margin-top: 1018.5px;
}

/* 変えない */
.t54aa {
	margin-top: 1018px;
}

/* 変えない */
.t55 {
	margin-top: 1035px;
}

.t57 {
	margin-top: 1054px;
}

.t58 {
	margin-top: 1071.5px;
}

.t59 {
	margin-top: 1080px;
}

.t59a {
	margin-top: 1089.5px;
}

.t60 {
	margin-top: 1107px;
}

.t63 {
	margin-top: 1161px;
}

.t64 {
	margin-top: 1178.5px;
}

.t75 {
	margin-top: 1464px;
}

.t80 {
	margin-top: 1589px;
}

.t100 {
	margin-top: 1749px;
}

.t105 {
	margin-top: 1765.6px;
}

.t120 {
	margin-top: 1933.6px;
}

.t200 {
	margin-top: 2000px;
}

/*S（右 margin）*/
.s-5 {
	margin-right: -40px;
}

.s {
	margin-right: 8px;
}

.s2 {
	margin-right: 16px;
}

.s4 {
	margin-right: 32px;
}

.s5 {
	margin-right: 40px;
}

.s6 {
	margin-right: 48px;
}

.s8 {
	margin-right: 64px;
}

.s9 {
	margin-right: 70px;
}

.s10 {
	margin-right: 80px;
}

.s11 {
	margin-right: 88px;
}

.s12 {
	margin-right: 96px;
}

.s13 {
	margin-right: 109px;
}

.s14 {
	margin-right: 122px;
}

.s15 {
	margin-right: 140px;
}

.s17 {
	margin-right: 176px;
}

.s18 {
	margin-right: 194px;
}

.s19 {
	margin-right: 212px;
}

.s20 {
	margin-right: 230px;
}

.s21 {
	margin-right: 248px;
}

.s22 {
	margin-right: 258px;
}

.s23 {
	margin-right: 284px;
}

.s24 {
	margin-right: 308px;
}

.s25 {
	margin-right: 320px;
}

.s26 {
	margin-right: 336px;
}

.s27 {
	margin-right: 356px;
}

.s28 {
	margin-right: 374px;
}

.s29 {
	margin-right: 392px;
}

.s30 {
	margin-right: 410px;
}

.s31 {
	margin-right: 428px;
}

/*PB（下 margin）*/
.pb0 {
	padding-bottom: 8px;
}

.pb1 {
	padding-bottom: 16px;
}

.pb2 {
	padding-bottom: 32px;
}

.pb3 {
	padding-bottom: 48px;
}

.pb4 {
	padding-bottom: 64px;
}

.pb6 {
	padding-bottom: 96px;
}

.pb7 {
	padding-bottom: 112px;
}

.pb8 {
	padding-bottom: 128px;
}

.pb9 {
	padding-bottom: 144px;
}

.pb10 {
	padding-bottom: 160px;
}

.pb11 {
	padding-bottom: 176px;
}

.pb12 {
	padding-bottom: 192px;
}

.pb13 {
	padding-bottom: 208px;
}

.pb23 {
	padding-bottom: 368px;
}

.pb25 {
	padding-bottom: 400px;
}

.pb27 {
	padding-bottom: 432px;
}

.pb28 {
	padding-bottom: 464px;
}

.pb29 {
	padding-bottom: 496px;
}

/*M（左 margin）*/
.m-3 {
	margin-left: -54px;
}

.m-2 {
	margin-left: -36px;
}

.m-1 {
	margin-left: -18px;
}

.m-05 {
	margin-left: -10.8px;
}

.m-05a {
	margin-left: -9px;
}

.m-05b {
	margin-left: -8.5px;
}

.m-04a {
	margin-left: -8px;
}

.m-04 {
	margin-left: -7px;
}

.m-04b {
	margin-left: -6px;
}

.m-03a {
	margin-left: -5px;
}

.m-03 {
	margin-left: -4.7px;
}

.m-03b {
	margin-left: -4px;
}

.m-02 {
	margin-left: -3.78px;
}

.m-02a {
	margin-left: -3.4px;
}

.m-01d {
	margin-left: -2.4px;
}

.m-01a {
	margin-left: -2px;
}

.m-01 {
	margin-left: -1.8px;
}

.m-01b {
	margin-left: -1.2px;
}

.m-01c {
	margin-left: -0.54px;
}

.m0 {
	margin-left: 0;
}

.m0y {
	margin-left: 0.5px;
}

.m0w {
	margin-left: 1px;
}

.m0x {
	margin-left: 1.5px;
}

.m0v {
	margin-left: 2px;
}

.m0va {
	margin-left: 2.6px;
}

.m0j {
	margin-left: 3.24px;
}

.m0t {
	margin-left: 3.6px;
}

.m0q {
	margin-left: 4.2px;
}

.m0d {
	margin-left: 5px;
}

.m0f {
	margin-left: 5.4px;
}

.m0bb {
	margin-left: 6px;
}

.m0b {
	margin-left: 6.84px;
}

.m0bc {
	margin-left: 7.4px;
}

.m0ba {
	margin-left: 8px;
}

.m0i {
	margin-left: 8.8px;
}

.m0s {
	margin-left: 9.5px;
}

.m0sm {
	margin-left: 10px;
}

.m0m {
	margin-left: 10.44px;
}

.m0ma {
	margin-left: 11px;
}

.m0a {
	margin-left: 12.24px;
}

.m0r {
	margin-left: 13px;
}

.m0u {
	margin-left: 13.5px;
}

.m0e {
	margin-left: 14px;
}

.m0l {
	margin-left: 14.6px;
}

.m0k {
	margin-left: 15.2px;
}

.m0g {
	margin-left: 15.5px;
}

.m0n {
	margin-left: 16.4px;
}

.m0c {
	margin-left: 16.74px;
}

.m0cp {
	margin-left: 17px;
}

.m0p {
	margin-left: 17.64px;
}

.m1 {
	margin-left: 18px;
}

.m1k {
	margin-left: 18.8px;
}

.m1e {
	margin-left: 19.8px;
}

.m1o {
	margin-left: 20.2px;
}

.m1n {
	margin-left: 21.24px;
}

.m1c {
	margin-left: 22.2px;
}

.m1f {
	margin-left: 22.32px;
}

.m1p {
	margin-left: 23px;
}

.m1m {
	margin-left: 24px;
}

.m1b {
	margin-left: 24.48px;
}

.m1g {
	margin-left: 25.2px;
}

.m1ga {
	margin-left: 26px;
}

.m1l {
	margin-left: 26.64px;
}

.m1lc {
	margin-left: 27.2px;
}

.m1la {
	margin-left: 27.64px;
}

.m1lb {
	margin-left: 28px;
}

.m1d {
	margin-left: 28.8px;
}

.m1da {
	margin-left: 29.6px;
}

.m1h {
	margin-left: 30.06px;
}

.m1hi {
	margin-left: 30.8px;
}

.m1i {
	margin-left: 31.5px;
}

.m1ij {
	margin-left: 32px;
}

.m1j {
	margin-left: 33px;
}

.m1ja {
	margin-left: 34px;
}

.m1a {
	margin-left: 35px;
}

.m2 {
	margin-left: 36px;
}

.m2i {
	margin-left: 37px;
}

.m2l {
	margin-left: 38px;
}

.m2b {
	margin-left: 39px;
}

.m2h {
	margin-left: 40px;
}

.m2ha {
	margin-left: 40.4px;
}

.m2o {
	margin-left: 41px;
}

.m2c {
	margin-left: 42px;
}

.m2p {
	margin-left: 42.5px;
}

.m2f {
	margin-left: 43.2px;
}

.m2fa {
	margin-left: 44px;
}

.m2a {
	margin-left: 45px;
}

.m2ag {
	margin-left: 46px;
}

.m2g {
	margin-left: 46.44px;
}

.m2d {
	margin-left: 47.4px;
}

.m2e {
	margin-left: 48px;
}

.m2ej {
	margin-left: 48.5px;
}

.m2j {
	margin-left: 49.5px;
}

.m2jm {
	margin-left: 50px;
}

.m2m {
	margin-left: 50.5px;
}

.m2mk {
	margin-left: 51px;
}

.m2k {
	margin-left: 52px;
}

.m2n {
	margin-left: 53px;
}

.m3 {
	margin-left: 54px;
}

.m3f {
	margin-left: 55px;
}

.m3l {
	margin-left: 56px;
}

.m3lp {
	margin-left: 57px;
}

.m3p {
	margin-left: 57.6px;
}

.m3po {
	margin-left: 58.6px;
}

.m3o {
	margin-left: 59px;
}

.m3ao {
	margin-left: 60px;
}

.m3a {
	margin-left: 60.48px;
}

.m3b {
	margin-left: 61.2px;
}

.m3m {
	margin-left: 61.7px;
}

.m3d {
	margin-left: 63px;
}

.m3i {
	margin-left: 64px;
}

.m3g {
	margin-left: 64.8px;
}

.m3k {
	margin-left: 65px;
}

.m3h {
	margin-left: 66px;
}

.m3n {
	margin-left: 67px;
}

.m3c {
	margin-left: 68.4px;
}

.m3e {
	margin-left: 69.6px;
}

.m3j {
	margin-left: 70.5px;
}

.m3q {
	margin-left: 71px;
}

.m4 {
	margin-left: 72px;
}

.m4m {
	margin-left: 72.5px;
}

.m4b {
	margin-left: 74px;
}

.m4e {
	margin-left: 75.5px;
}

.m4o {
	margin-left: 76px;
}

.m4h {
	margin-left: 77px;
}

.m4a {
	margin-left: 77.94px;
}

.m4c {
	margin-left: 79.2px;
}

.m4j {
	margin-left: 80px;
}

.m4n {
	margin-left: 81px;
}

.m4d {
	margin-left: 82px;
}

.m4g {
	margin-left: 83px;
}

.m4l {
	margin-left: 84px;
}

.m4k {
	margin-left: 86.4px;
}

.m4f {
	margin-left: 87px;
}

.m4i {
	margin-left: 88px;
}

.m05 {
	margin-left: 90px;
}

.m05h {
	margin-left: 91px;
}

.m05a {
	margin-left: 92px;
}

.m05i {
	margin-left: 93px;
}

.m05d {
	margin-left: 94px;
}

.m05m {
	margin-left: 95px;
}

.m05e {
	margin-left: 97px;
}

.m05eg {
	margin-left: 97.5px;
}

.m05g {
	margin-left: 98px;
}

.m05f {
	margin-left: 100.4px;
}

.m05j {
	margin-left: 101.4px;
}

.m05c {
	margin-left: 102px;
}

.m05l {
	margin-left: 104px;
}

.m05b {
	margin-left: 106px;
}

.m05k {
	margin-left: 107px;
}

.m06 {
	margin-left: 108px;
}

.m06d {
	margin-left: 111px;
}

.m06h {
	margin-left: 112px;
}

.m06e {
	margin-left: 113px;
}

.m06j {
	margin-left: 114px;
}

.m06i {
	margin-left: 116px;
}

.m06a {
	margin-left: 117px;
}

.m06c {
	margin-left: 118px;
}

.m06f {
	margin-left: 120px;
}

.m06b {
	margin-left: 122.4px;
}

.m06g {
	margin-left: 124px;
}

.m07 {
	margin-left: 126px;
}

.m07e {
	margin-left: 127px;
}

.m07g {
	margin-left: 128px;
}

.m07a {
	margin-left: 130px;
}

.m07h {
	margin-left: 133px;
}

.m07c {
	margin-left: 135px;
}

.m07b {
	margin-left: 137px;
}

.m07i {
	margin-left: 138px;
}

.m07d {
	margin-left: 140px;
}

.m07f {
	margin-left: 142px;
}

.m08 {
	margin-left: 144px;
}

.m08a {
	margin-left: 147.6px;
}

.m08d {
	margin-left: 152px;
}

.m08c {
	margin-left: 155px;
}

.m08e {
	margin-left: 158px;
}

.m08f {
	margin-left: 159px;
}

.m08b {
	margin-left: 160px;
}

.m09 {
	margin-left: 162px;
}

.m09a {
	margin-left: 170px;
}

.m09e {
	margin-left: 171px;
}

.m09b {
	margin-left: 174px;
}

.m09c {
	margin-left: 176.5px;
}

.m09d {
	margin-left: 178px;
}

.m10 {
	margin-left: 180px;
}

.m10b {
	margin-left: 191px;
}

.m10a {
	margin-left: 196px;
}

.m11 {
	margin-left: 198px;
}

.m11c {
	margin-left: 204px;
}

.m11e {
	margin-left: 206px;
}

.m11a {
	margin-left: 208px;
}

.m11b {
	margin-left: 209px;
}

.m11d {
	margin-left: 210px;
}

.m12 {
	margin-left: 216px;
}

.m12d {
	margin-left: 217px;
}

.m12b {
	margin-left: 220px;
}

.m12a {
	margin-left: 226px;
}

.m12c {
	margin-left: 228px;
}

.m12e {
	margin-left: 232px;
}

.m13 {
	margin-left: 234px;
}

.m13b {
	margin-left: 239px;
}

.m13a {
	margin-left: 244.5px;
}

.m13c {
	margin-left: 246px;
}

.m14 {
	margin-left: 252px;
}

.m14a {
	margin-left: 262px;
}

.m14b {
	margin-left: 264px;
}

.m15 {
	margin-left: 270px;
}

.m15d {
	margin-left: 274px;
}

.m15a {
	margin-left: 280px;
}

.m16 {
	margin-left: 288px;
}

.m16a {
	margin-left: 290px;
}

.m16c {
	margin-left: 300px;
}

.m16e {
	margin-left: 304px;
}

.m16d {
	margin-left: 305px;
}

.m17 {
	margin-left: 306px;
}

.m17b {
	margin-left: 320px;
}

.m18 {
	margin-left: 324px;
}

.m18a {
	margin-left: 330.48px;
}

.m18b {
	margin-left: 338px;
}

.m19 {
	margin-left: 342px;
}

.m19a {
	margin-left: 356px;
}

.m20 {
	margin-left: 360px;
}

.m20a {
	margin-left: 377px;
}

.m21 {
	margin-left: 378px;
}

.m21a {
	margin-left: 386px;
}

.m21b {
	margin-left: 394px;
}

.m22 {
	margin-left: 396px;
}

.m23 {
	margin-left: 414px;
}

.m23b {
	margin-left: 416px;
}

.m23a {
	margin-left: 420px;
}

.m24 {
	margin-left: 432px;
}

.m24a {
	margin-left: 447px;
}

.m25 {
	margin-left: 450px;
}

.m25a {
	margin-left: 461px;
}

.m26 {
	margin-left: 468px;
}

.m26c {
	margin-left: 479px;
}

.m26b {
	margin-left: 478px;
}

.m26a {
	margin-left: 486px;
}

.m27 {
	margin-left: 493.2px;
}

.m28 {
	margin-left: 500px;
}

.m28a {
	margin-left: 510px;
}

.m29 {
	margin-left: 522px;
}

.m29a {
	margin-left: 536px;
}

.m30 {
	margin-left: 540px;
}

.m31a {
	margin-left: 560px;
}

.m32a {
	margin-left: 584px;
}

.m33 {
	margin-left: 594px;
}

.m33a {
	margin-left: 598px;
}

.m34 {
	margin-left: 612px;
}

.m34a {
	margin-left: 616px;
}

.m35 {
	margin-left: 630px;
}

.m35a {
	margin-left: 642px;
}

.m36 {
	margin-left: 648px;
}

.m36a {
	margin-left: 660.6px;
}

.m37 {
	margin-left: 666px;
}

.m37b {
	margin-left: 668px;
}

.m37a {
	margin-left: 674px;
}

.m38 {
	margin-left: 696px;
}

.m39 {
	margin-left: 702px;
}

.m40 {
	margin-left: 720px;
}

.m40a {
	margin-left: 726px;
}

.m41 {
	margin-left: 738px;
}

.m41a {
	margin-left: 744px;
}

.m41b {
	margin-left: 753px;
}

.m42 {
	margin-left: 756px;
}

.m42a {
	margin-left: 763px;
}

.m43 {
	margin-left: 774px;
}

.m43a {
	margin-left: 788px;
}

.m44 {
	margin-left: 792px;
}

.m44a {
	margin-left: 800px;
}

.m45 {
	margin-left: 810px;
}

.m45a {
	margin-left: 820px;
}

.m46 {
	margin-left: 828px;
}

.m46a {
	margin-left: 832px;
}

.m47 {
	margin-left: 846px;
}

.m47a {
	margin-left: 850px;
}

.m48 {
	margin-left: 864px;
}

.m48b {
	margin-left: 865.8px;
}

.m48a {
	margin-left: 885px;
}

.m49 {
	margin-left: 895px;
}

.m50 {
	margin-left: 900px;
}

.m50a {
	margin-left: 908px;
}

.m51 {
	margin-left: 918px;
}

.m51a {
	margin-left: 928px;
}

.m51b {
	margin-left: 934px;
}

.m52a {
	margin-left: 944px;
}

.m53 {
	margin-left: 954px;
}

.m53a {
	margin-left: 958px;
}

.m54 {
	margin-left: 972px;
}

.m54a {
	margin-left: 982px;
}

.m54b {
	margin-left: 988px;
}

.m55 {
	margin-left: 990px;
}

.m55c {
	margin-left: 998px;
}

.m55ca {
	margin-left: 1000px;
}

.m55cb {
	margin-left: 1016px;
}

.m56a {
	margin-left: 1024px;
}

.m57 {
	margin-left: 1026px;
}

.m57a {
	margin-left: 1034px;
}

.m58b {
	margin-left: 1048px;
}

.m58a {
	margin-left: 1060px;
}

.m59 {
	margin-left: 1020px;
}

.m59a {
	margin-left: 1066px;
}

.m60 {
	margin-left: 1080px;
}

.m60a {
	margin-left: 1094px;
}

.m62 {
	margin-left: 1116px;
}

.m65 {
	margin-left: 1170px;
}

.m70 {
	margin-left: 1260px;
}

.m-x {
	margin-left: 1103px;
}

/*【ここで調整 box-wide/n】*/
.m-y {
	margin-left: 189px;
}

/*先頭【m-zの1/2】*/
.m-z {
	margin-left: 379px;
}

/*中間値【[box-wide - (ボタン全幅 ｘ ボタン数)]/ボタン数】少なめ*/
/*W（width）*/
.w1 {
	width: 18px;
}

.w2 {
	width: 36px;
}

.w3 {
	width: 54px;
}

.w4 {
	width: 72px;
}

.w5 {
	width: 90px;
}

.w6 {
	width: 108px;
}

.w7 {
	width: 126px;
}

.w8 {
	width: 144px;
}

.w9 {
	width: 162px;
}

.w10 {
	width: 180px;
}

.w11 {
	width: 198px;
}

.w12 {
	width: 216px;
}

.w13 {
	width: 234px;
}

.w14 {
	width: 252px;
}

.w15 {
	width: 270px;
}

.w16 {
	width: 288px;
}

.w18 {
	width: 324px;
}

.w20 {
	width: 360px;
}

.w22 {
	width: 396px;
}

.w24 {
	width: 432px;
}

.w28 {
	width: 504px;
}

.w30 {
	width: 630px;
}

/*BOX*/
.box07,
.box07a,
.box08a,
.box09,
.box09a,
.box10,
.box11,
.box12,
.box13,
.box13a,
.box15,
.box16,
.box17,
.box17a,
.box18,
.box19,
.box20,
.box21,
.box23,
.box24,
.box25,
.box27,
.box28,
.box30,
.box34,
.box35,
.box36,
.box38,
.box40,
.box41,
.box43,
.box44,
.box46,
.box50,
.box51,
.box52a,
.box54,
.box56,
.box59a,
.box60,
.box60a,
.box62,
.box64a,
.box65a,
.box68,
.box69a,
.box70a,
.box74,
.box76,
.box77,
.box79,
.box80a,
.box80b,
.box90,
.box124 {
	float: left;
}

.box07 {
	width: 70px;
}

.box07a {
	width: 74px;
}

.box08a {
	width: 82px;
}

.box09 {
	width: 90px;
}

.box09a {
	width: 96px;
}

.box10 {
	width: 100px;
}

.box11 {
	width: 110px;
}

.box12 {
	width: 120px;
}

.box13 {
	width: 130px;
}

.box13a {
	width: 136px;
}

.box15 {
	width: 150px;
}

.box16 {
	width: 160px;
}

.box17 {
	width: 170px;
}

.box18 {
	width: 180px;
}

.box19 {
	width: 190px;
}

.box20 {
	width: 200px;
}

.box21 {
	width: 210px;
}

.box23 {
	width: 230px;
}

.box24 {
	width: 240px;
}

.box25 {
	width: 250px;
}

.box27 {
	width: 270px;
}

.box28 {
	width: 280px;
}

.box30 {
	width: 300px;
}

.box34 {
	width: 340px;
}

.box35 {
	width: 350px;
}

.box36 {
	width: 360px;
}

.box38 {
	width: 380px;
}

.box40 {
	width: 400px;
}

.box41 {
	width: 410px;
}

.box43 {
	width: 430px;
}

.box44 {
	width: 440px;
}

.box46 {
	width: 460px;
}

.box50 {
	width: 500px;
}

.box51 {
	width: 510px;
}

.box52a {
	width: 525px;
}

.box54 {
	width: 540px;
}

.box56 {
	width: 560px;
}

.box59a {
	width: 592px;
}

.box60 {
	width: 600px;
}

.box60a {
	width: 606px;
}

.box62 {
	width: 620px;
}

.box64a {
	width: 641px;
}

.box65a {
	width: 656px;
}

.box68 {
	width: 680px;
}

.box69a {
	width: 699px;
}

.box70a {
	width: 706px;
}

.box76 {
	width: 760px;
}

.box77 {
	width: 770px;
}

.box79 {
	width: 790px;
}

.box80a {
	width: 804px;
}

.box80b {
	width: 808px;
}

.box90 {
	width: 900px;
}

.box124 {
	width: 1240px;
}

.box121a {
	width: 1219px;
}

.box-wide {
	width: 12820px;
	font-family: 'MS UI Gothic', "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
}

/*height*/
.ht10 {
	height: 106.6px;
}

.ht45 {
	height: 500px;
}

.ht59 {
	height: 710px;
}

.ht72 {
	height: 710px;
}

.ht86 {
	height: 910px;
}

.ht78 {
	height: 820px;
}

.ht94 {
	height: 940px;
}

.ht104 {
	height: 1040px;
}

.xl_e,
.xl_sl,
.xl_s,
.xl_b,
.xl_ce,
.xl_a,
.xl_clk,
.xl_cl,
.xl_ss,
.xl_c,
.xl_t1,
.xl_v,
.xl_g,
.xl_old,
.xl_100,
.xl_w {
	vertical-align: middle;
	text-align: center;
	font-size: 12.0pt;
	font-weight: 700;
	border: .5pt solid gray;
	background: #548235;
}

.xl_sl {
	background: #006699;
}

.xl_s {
	background: #ffff4e;
}

.xl_b {
	background: #FFCCFF;
}

.xl_ce {
	background: #CCFFCC;
}

.xl_a {
	background: #d45858;
}

.xl_clk {
	background: #CCECFF;
}

.xl_cl {
	background: #FFFF99;
}

.xl_ss {
	background: #7030A0;
}

.xl_c {
	background: #3333FF;
}

.xl_t1 {
	background: gray;
}

.xl_v {
	background: #D9D9D9;
}

.xl_g {
	background: #FFC000;
}

.xl_old {
	background: black;
}

.xl_100 {
	background: #6b1500;
}

.xl_w {
	background: white;
}