@charset "UTF-8";
body {
	font-family: 'MS UI Gothic', "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.8;
	/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	font-size: 18px;
	color: #444;
	letter-spacing: 0;
	text-align: left;
	vertical-align: middle;
	background: #f2f2f2;
	white-space: nowrap;
	margin: 0;
	-webkit-text-size-adjust: none;
}

::-webkit-scrollbar {
	/*スクロールバー全体*/
	width: 10px;
}

::-webkit-scrollbar-track {
	/*スクロールバーの軌道*/
	border-radius: 10px;
	box-shadow: inset 0 0 6px #f2f2f2;
}

::-webkit-scrollbar-thumb {
	/*スクロールバーの動く部分*/
	background: #4f4f4f;
}

.scrollbox::-webkit-scrollbar-corner {
	/*右下角部分*/
	background: #4f4f4f;
}

#contents, #contents1 {
	width: 1270px;
	/*画像サイト用幅設定*/
	margin-right: auto;
	margin-left: auto;
}

#contents1 {
	width: 1210px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 17px;
	/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	font-weight: normal;
	letter-spacing: 1px;
}

h1, h2 {
	margin: 4px 0 4px 18px;
}

h3, h4, h5, h6 {
	margin: 2px 0 4px 24px;
}

p {
	margin: 0 0 2px 24px;
}

hr {
	margin: 6px 10px;
	border: none;
	border-top: 1px #6e6e6e solid;
}

/*font*/

.fs50 {
	font-size: 50%;
}

.f1 {
	color: #111;
}

.f2 {
	color: #222;
}

.f3 {
	color: #444;
}

.f4 {
	color: #666;
}

.f5 {
	color: #888;
}

.f6 {
	color: #999;
}

.f7 {
	color: #ccc;
}

.f8 {
	color: rgb(219, 216, 216);
}

.f14-lg, .box-dg {
	font-size: 14px;
}

.clr-gy {
	color: #006c00;
}

.clr-lb {
	color: #0e56dd;
}

.ls04 {
	letter-spacing: 0.4pt;
}

.ls411 {
	letter-spacing: 4.11pt;
}

.ls-13 {
	letter-spacing: -1.3pt;
}

.b, .bb {
	font-weight: 700;
	color: #666;
}

.b {
	letter-spacing: 1px;
}

.aa {
	font-size: 16px;
	line-height: 0.95;
	margin: 60px 0 15px 30px;
}

.td1 {
	border-top: solid 0.9px #666;
	border-bottom: solid 0.9px #666;
}

/*E/C-class 画像サイト*/

.td3 {
	border-bottom: solid 1.8px #f2f2f2;
	color: #f2f2f2;
}

/*E/C-class 画像サイト**/

.td3:hover {
	border-bottom: solid 1.8px #59f3ff;
	color: #59f3ff;
}

/*文字列*/

a {
	text-decoration: none;
}

a:link {
	color: #444;
}

a:visited {
	color: #444;
}

.lnk:hover {
	color: #000;
	border-bottom: solid 1.8px #000;
}

a.lnk2:hover {
	color: #2600ff;
	border-bottom: solid 1.8px #2600ff;
}

a.lnk3:hover {
	color: #2600ff;
	border-bottom: solid 1.8px #2600ff;
}

.top {
	vertical-align: top;
}

.left {
	text-align: left;
}

.mid {
	text-align: center;
}

.r, .ru {
	text-align: right;
}

.ru {
	margin-top: -33.3px;
	margin-right: 30px;
}

.lh1 {
	line-height: 0.99;
}

.lh2 {
	line-height: 1.4;
}

/*>> ▼ ■*/

.bf0:before {
	content: "■ ";
	color: #444;
	/*標準↑*/
}

.bf1:before {
	content: "▼";
	margin: 0 10px 4px;
	color: #444;
	/*標準↑*/
}

.bf2:before {
	content: ">>";
	font-weight: 700;
	margin-left: 20px;
	margin-right: 5px;
	color: #444;
	/*標準↑*/
}

.bf4:before, .af4:after {
	content: "/";
	color: #444;
	/*標準↑*/
	font-weight: 700;
	margin: 10px;
}

/*background-color*/
/* .bgc-hp,.bgc-lg,.bgc-pb,.bgc-op,.bgc-ye {
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
} */

.bgc-hp {
	background-color: rgb(253, 187, 220);
}

.bgc-lg {
	background-color: lightgreen;
}

.bgc-pb {
	background-color: powderblue;
}

.bgc-or {
	background-color: orange;
}

.bgc-ye {
	background-color: yellow;
}

.bgc-pp {
	background-color: rgb(197, 164, 250);
}

/*Top*/

.dashboard {
	position: absolute;
	/*絶対配置*/
	width: 100%;
	min-width: 1210px;
	background: #4f4f4f;
	height: 46px;
	border-bottom: solid 2px #ffffff;
	margin: 0;
	padding: 0;
	clear: both;
	z-index: 1;
}

.b-box {
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	height: 34px;
	background: #000;
	padding: 0;
}

.box-dg {
	background: #444;
	color: #f0f0f0;
	text-align: center;
	height: 32px;
	letter-spacing: 6px;
	width: 150px;
	margin: 2px 0.5px;
	border-top: solid 2px #555;
	border-right: solid 2px #777;
	border-bottom: solid 2px #000;
	border-left: solid 2px #333;
	border-radius: 4px;
}

.box-dg:hover {
	background: #333;
	color: #ffffff;
	border-top: solid 2px #333;
	border-right: solid 2px #555;
	border-bottom: solid 2px #000;
	border-left: solid 2px #111;
	transition: background-color 0.5s;
}

/*T（上 margin）*/

.t-05 {
	margin-top: -9.4px;
}

.t00 {
	margin-top: 0;
}

.t0 {
	margin-top: 0.8;
}

.t0f {
	margin-top: 3px;
}

.t0c {
	margin-top: 7.2px;
}

.t0d {
	margin-top: 19.8px;
}

.t0e {
	margin-top: 27.36px;
}

.t1 {
	margin-top: 28.8px;
}

.t1d {
	margin-top: 31.5px;
}

.t1b {
	margin-top: 47px;
}

.t1a {
	margin-top: 47px;
}

.t2 {
	margin-top: 57.6px;
}

.t2c {
	margin-top: 64px;
}

.t2a {
	margin-top: 72px;
}

.t2b {
	margin-top: 50.94px;
}

.t3 {
	margin-top: 76.8px;
}

.t3a {
	margin-top: 77.4px;
}

.t3b {
	margin-top: 88px;
}

.t4 {
	margin-top: 128px;
}
.t5 {
	margin-top: 158px;
}

.t6 {
	margin-top: 162px;
}

.t10 {
	margin-top: 208px;
}

.t24 {
	margin-top: 456px;
}

.t40 {
	margin-top: 737.4px;
}

.t46 {
	margin-top: 838.8px;
}

.t48 {
	margin-top: 876.2px;
}

.t55 {
	margin-top: 1015px;
}

.t58 {
	margin-top: 1049.5px;
}

.t59 {
	margin-top: 1066.6px;
}

.t60 {
	margin-top: 1084px;
}

.t76 {
	margin-top: 1380px;
}

.t100 {
	margin-top: 1708px;
}

.t120 {
	margin-top: 1933.6px;
}

/*S（右 margin）*/

.s {
	margin-right: 8px;
}

.s2 {
	margin-right: 16px;
}

.s4 {
	margin-right: 32px;
}

.s5 {
	margin-right: 40px;
}

.s6 {
	margin-right: 48px;
}

.s8 {
	margin-right: 64px;
}

.s9 {
	margin-right: 70px;
}

.s10 {
	margin-right: 80px;
}

.s11 {
	margin-right: 88px;
}

.s12 {
	margin-right: 96px;
}

.s13 {
	margin-right: 104px;
}

/*PB（下 margin）*/
.pb0 {
	padding-bottom: 8px;
}

.pb1 {
	padding-bottom: 16px;
}

.pb2 {
	padding-bottom: 32px;
}

.pb3 {
	padding-bottom: 48px;
}

.pb4 {
	padding-bottom: 64px;
}

.pb6 {
	padding-bottom: 96px;
}

.pb7 {
	padding-bottom: 112px;
}

.pb8 {
	padding-bottom: 128px;
}

.pb9 {
	padding-bottom: 144px;
}

.pb23 {
	padding-bottom: 368px;
}

/*M（左 margin）*/

.m-1 {
	margin-left: -18px;
}

.m-05 {
	margin-left: -10.8px;
}

.m-03 {
	margin-left: -0.54px;
}

.m-02 {
	margin-left: -3.78px;
}

.m-01 {
	margin-left: -1.8px;
}


.m0 {
	margin-left: 0;
}

.m0v {
	margin-left: 2px;
}

.m0j {
	margin-left: 3.24px;
}

.m0t {
	margin-left: 3.6px;
}

.m0d {
	margin-left: 5px;
}

.m0f {
	margin-left: 5.4px;
}

.m0b {
	margin-left: 6.84px;
}

.m0ba {
	margin-left: 8px;
}

.m0i {
	margin-left: 8.8px;
}

.m0m {
	margin-left: 10.44px;
}

.m0a {
	margin-left: 12.24px;
}

.m0r {
	margin-left: 13px;
}

.m0u {
	margin-left: 13.5px;
}

.m0e {
	margin-left: 14px;
}

.m0l {
	margin-left: 14.6px;
}

.m0k {
	margin-left: 15.2px;
}

.m0g {
	margin-left: 15.5px;
}

.m0n {
	margin-left: 16.4px;
}

.m0c {
	margin-left: 16.74px;
}

.m0p {
	margin-left: 17.64px;
}

.m1 {
	margin-left: 18px;
}

.m1k {
	margin-left: 18.8px;
}

.m1e {
	margin-left: 19.8px;
}

.m1o {
	margin-left: 20.2px;
}

.m1n {
	margin-left: 21.24px;
}

.m1c {
	margin-left: 22.2px;
}

.m1f {
	margin-left: 22.32px;
}

.m1m {
	margin-left: 24px;
}

.m1b {
	margin-left: 24.48px;
}

.m1g {
	margin-left: 25.2px;
}

.m1l {
	margin-left: 26.64px;
}

.m1d {
	margin-left: 28.8px;
}

.m1h {
	margin-left: 30.06px;
}

.m1i {
	margin-left: 31.5px;
}

.m1j {
	margin-left: 33px;
}

.m1a {
	margin-left:  35px;
}

.m2 {
	margin-left: 36px;
}

.m2b {
	margin-left: 39px;
}

.m2f {
	margin-left: 43.2px;
}

.m2a {
	margin-left: 45px;
}

.m2g {
	margin-left: 46.44px;
}

.m2e {
	margin-left: 48.6px;
}

.m2j {
	margin-left: 49.5px;
}

.m3 {
	margin-left: 54px;
}

.m3f {
	margin-left:  55.8px;
}

.m3a {
	margin-left: 60.48px;
}

.m3b {
	margin-left: 61.2px;
}

.m3d {
	margin-left: 63px;
}

.m3g {
	margin-left: 64.8px;
}

.m3c {
	margin-left: 68.4px;
}

.m4 {
	margin-left: 72px;
}

.m4b {
	margin-left: 74px;
}

.m4e {
	margin-left: 75.5px;
}

.m4a {
	margin-left:  77.94px;
}

.m4c {
	margin-left: 79.2px;
}

.m05 {
	margin-left: 90px;
}

.m05a {
	margin-left: 92px;
}

.m06 {
	margin-left: 108px;
}

.m06b {
	margin-left: 122.4px;
}

.m07 {
	margin-left: 126px;
}

.m08 {
	margin-left: 144px;
}

.m08a {
	margin-left: 147.6px;
}

.m09 {
	margin-left: 162px;
}

.m10 {
	margin-left: 180px;
}

.m11 {
	margin-left: 198px;
}

.m13 {
	margin-left: 234px;
}

.m14 {
	margin-left: 252px;
}

.m15 {
	margin-left: 270px;
}

.m17 {
	margin-left: 330.48px;
}

.m19 {
	margin-left: 342px;
}

.m22 {
	margin-left: 396px;
}

.m24 {
	margin-left: 432px;
}

.m26 {
	margin-left: 468px;
}

.m27 {
	margin-left: 493.2px;
}

.m29 {
	margin-left: 522px;
}

.m33 {
	margin-left: 594px;
}

.m34a {
	margin-left: 622.5px;
}

.m37 {
	margin-left: 660.6px;
}

.m39 {
	margin-left: 702px;
}

.m40 {
	margin-left: 720px;
}

.m41 {
	margin-left: 738px;
}

.m43 {
	margin-left: 774px;
}

.m44 {
	margin-left: 792px;
}

.m45 {
	margin-left: 810px;
}

.m46 {
	margin-left: 828px;
}

.m47 {
	margin-left: 846px;
}

.m48 {
	margin-left: 865.8px;
}

.m51 {
	margin-left: 918px;
}

.m53 {
	margin-left: 954px;
}

.m54 {
	margin-left: 972px;
}

/*W（width）*/
.w1 {
	width: 18px;
}

.w2 {
	width: 36px;
}

.w3 {
	width: 54px;
}

.w4 {
	width: 72px;
}

.w5 {
	width: 90px;
}

.w6 {
	width: 108px;
}

.w7 {
	width: 126px;
}

.w8 {
	width: 144px;
}

.w9 {
	width: 162px;
}

.w10 {
	width: 180px;
}

.w11 {
	width: 198px;
}

.w12 {
	width: 216px;
}

.w13 {
	width: 234px;
}

.w14 {
	width: 252px;
}

.w15 {
	width: 270px;
}

.w16 {
	width: 288px;
}

.w18 {
	width: 324px;
}

.w20 {
	width: 360px;
}

.w22 {
	width: 396px;
}

.w24 {
	width: 432px;
}

.w25 {
	width: 450px;
}

.w30 {
	width: 540px;
}

.w35 {
	width: 630px;
}

.w80 {
	width: 800px;
}

.w90 {
	width: 900px;
}

.w99 {
	width: 992px;
}

.w100 {
	width: 1000px;
}

.w110 {
	width: 1090px;
}

.w112 {
	width: 1140px;
}

.w116 {
	width: 1188px;
}

.w120 {
	width: 1200px;
}

.w123 {
	width: 1234px;
}

/*img・ico*/

img {
	vertical-align: top;
	margin: 0;
	padding: 2pt 0;
}

.kakumaru {
	border-radius: 10px;
}

/*Interior Trim*/

.ico-wiki, .ico-wiki2, .ico-camera, .ico-eg, .ico-tube {
	display: inline-block;
	background-repeat: no-repeat;
}

.ico-wiki, .ico-wiki2 {
	width: 17px;
	margin-right: 3px;
	background-image: url('ico/wiki.png');
	height: 17px;
}

.ico-wiki2 {
	height: 14px;
}

.ico-camera, .ico-eg {
	width: 20px;
	height: 16px;
	background-image: url('ico/camera.png');
}

.ico-eg {
	background-image: url('ico/eg.png');
}

.ico-tube {
	width: 23px;
	height: 16px;
	background-image: url('ico/youtube.png');
}

/*list*/

table {
	font-family: 'MS UI Gothic';
	padding: 0;
	text-align: center;
	table-layout: auto;
}

ul, ol, li, dl, dt {
	padding: 0;
	margin: 0;
}

ul, ol, dl {
	list-style: none;
	overflow: hidden;
	position: relative;
	zoom: 1;
}

dt {
	float: left;
	clear: left;
	/*後続の左寄せを解除*/
}

dd {
	padding: 0;
	margin: 0 40px 0 0;
	float: left;
}

table, th, td {
	border: none;
}

th {
	padding: 0 8px 0 0;
	font-weight: 400;
	border-bottom: 1px dashed #666;
	/*ヘッダ行の下線 */
}

tr {
	vertical-align: top;
}

td {
	padding: 0 8px 0 0;
}

.fix {
	width: 1100px;
	table-layout: fixed;
}

/*inline*/

.i {
	display: inline;
}

.ib {
	display: inline-block;
}

.wp {
	white-space: normal;
	/*折り返し*/
	word-wrap: break-word;
}

/*inline要素を殺したいとき*/

.cb {
	clear: both;
}

/*DIV*/

div, article, section, aside {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	/*DWで正常にプレビューできるようになる*/
	zoom: 1;
	/*IE6でレイアウト崩れを防ぐ*/
}

.style-w {
	/*画像グレイ背景*/
	background: #4f4f4f;
	color: #f2f2f2;
	padding: 0.9%;
}

.style-w2 {
	opacity: 0;
	padding: 4px 2px 4px 10px;
	line-height: 1.4;
	transition: 1s;
	transition-timing-function: step-end;
	font-weight: 700;
	font-size: 16px;
}

.style-w2:hover {
	/*画像グレイ背景*/
	opacity: 1;
	background: #4f4f4f;
	color: #f2f2f2;
	transition: 0.4s;
}

.style-n, .style-w {
	/*中央寄せ*/
	width: 1214px;
	margin-left: auto;
	margin-right: auto;
}

.style-n {
	width: 1240px;
}

.bk-w {
	background: #ffffff;
}

.f {
	float: left;
}

.float {
	clear: none;
}

/*後続の左寄せを解除しない*/

.nofloat {
	float: none;
}

/*BOX*/

.box04, .box07a, .box08, .box09, .box09a, .box11, .box12,
.box13, .box13a, .box14b, .box15, .box17a, .box18,.box21a,
.box23, .box27, .box30a, .box36, .box40, .box41,.box44,
.box46, .box47a, .box50, .box51, .box53, .box56, .box59,
.box60, .box61, .box62, .box64, .box64a, .box68,.box70,
.box71, .box74, .box76, .box80, .box81, .box90,.box100,
.box104, .box-dg {
	float: left;
}

.box04 {
	width: 40px;
}

.box07a {
	width: 74px;
}

.box08 {
	width: 82px;
}

.box09 {
	width: 90px;
}

.box09a {
	width: 96px;
}

.box11 {
	width: 110px;
}

.box12 {
	width: 120px;
}

.box13 {
	width: 130px;
}

.box13a {
	width: 136px;
}

.box14b {
	width: 145px;
}

.box15 {
	width: 150px;
}

.box17a {
	width: 175px;
}

.box18 {
	width: 180px;
}

.box21a {
	width: 212px;
}

.box23 {
	width: 230px;
}

.box27 {
	width: 270px;
}

.box30a {
	width: 300px;
}

.box36 {
	width: 360px;
}

.box40 {
	width: 400px;
}

.box41 {
	width: 406px;
}

.box44 {
	width: 440px;
}

.box46 {
	width: 463px;
}

.box50 {
	width: 500px;
}

.box51 {
	width: 510px;
}

.box53 {
	width: 525px;
}

.box56 {
	width: 560px;
}

.box59 {
	width: 592px;
}

.box60 {
	width: 600px;
}

.box61 {
	width: 606px;
}

.box64 {
	width: 641px;
}

.box64a {
	width: 687px;
}

.box62 {
	width: 620px;
}

.box68 {
	width: 680px;
}

.box70 {
	width: 699px;
}

.box71 {
	width: 706px;
}

.box74 {
	width: 740px;
}

.box77 {
	width: 770px;
}

.box80 {
	width: 804px;
}

.box81 {
	width: 808px;
}

.box90 {
	width: 900px;
}

.box100 {
	width: 1080px;
}

.box104 {
	width: 1140px;
}

.box121 {
	width: 1210px;
}

.box-wide {
	width: 2120px;
}

/*Accordion*/

/* ▼対応 */

.ac1 {
	clear: both;
	cursor: pointer;
	color: #7a7a7a;
	border: solid 1px #6e6e6e;
	width: 99%;
	line-height: 1.2;
	margin: 0 0 4px 0;
}

.ac1:hover {
	color: #000;
	border: solid 1px #000;
	background: #fdfdfd;
}

/* >>対応 */

.ac2 {
	width: 100%;
}

.ac2:hover {
	background: #fdfdfd;
}

.displayNone {
	display: none;
}

/*Vertical*/

.v90, .v120, .v170, .v240, .v260, .v300, .v320, .v340, .v360, .v400, .v420, .v470, .v500,
.v540, .v560, .v580, .v600, .v700, .v720, .v750, .v860, .v890, .v900, .v960, .v1000,
.v1130, .v1200, .v1230, .v1900,.v2300, .v3400, .v14000, .v3700 {
	position: absolute;
	width: 6px;
	padding: 0;
	background: #b0b0b0;
	margin: 4px 0 0 10px;
}

.v90 {
	height: 90px;
}

.v120 {
	height: 120px;
}

.v170 {
	height: 160px;
}

.v240 {
	height: 240px;
}

.v260 {
	height: 260px;
}

.v300 {
	height: 300px;
}

.v320 {
	height: 320px;
}

.v340 {
	height: 340px;
}

.v360 {
	height: 360px;
}

.v400 {
	height: 400px;
}

.v470 {
	height: 470px;
}

.v500 {
	height: 500px;
}

.v540 {
	height: 540px;
}

.v560 {
	height: 560px;
}

.v580 {
	height: 580px;
}

.v600 {
	height: 600px;
}

.v700 {
	height: 700px;
}

.v720 {
	height: 720px;
}

.v750 {
	height: 760px;
}

.v860 {
	height: 860px;
}

.v890 {
	height: 900px;
}

.v900 {
	height: 910px;
}

.v960 {
	height: 960px;
}

.v1000 {
	height: 1020px;
}

.v1130 {
	height: 1120px;
}

.v1200 {
	height: 1200px;
}

.v1230 {
	height: 1230px;
}

.v1900 {
	height: 1920px;
}

.v2300 {
	height: 2330px;
}
.v2300r {
	float: left;
	height: 2330px;
	width: 6px;
	padding: 0;
	background: #b0b0b0;
}

.v3400 {
	height: 3950px;
}

.v3700 {
	height: 4150px;
}

.v4700 {
	height: 4680px;
}

/*Timeline*/
.timeline1, .timeline2, .timeline3 {
	width: 142.3px;
	float: left;
	padding: 0;
	margin: 0 0 0 34px;
	border-left: 1px dashed #888;
}

.timeline1, .timeline2 {
	border-right: 1px dashed #888;
}

.timeline2, .timeline3 {
	margin: 0 0 0 145.8px;
}

.ht36 {
	height: 430px;
}

.ht52 {
	height: 580px;
}

.ht59 {
	height: 620px;
}

.ht60 {
	height: 750px;
}

.ht68 {
	height: 780px;
}

.ht80 {
	height: 910px;
}

.btm-lg {
	border-bottom: 1px solid #888;
}

.btm-lg-dash {
	border-bottom: 1px dashed #888;
}

.timeline4 {
	font-family: Lato;
	opacity: 1;
	height: 104px;
	padding: 0 0 0 20px;
	border-bottom: 1px dashed #afafaf;
	color: #888;
}

/*bk*/

.bk, .bk2, .bk3, .bk4 {
	position: absolute;
	background: no-repeat;
}

.bk {
	font-family: Lato;
	opacity: 1;
}

.bk2, .bk3, .bk4 {
	top: 4px;
	border-radius: 4px;
}

.bk2 {
	width: 580px;
	left: 610px;
	top: 54px;
}

.bk3 {
	width: 300px;
	left: 880px;
}

.bk4 {
	width: 840px;
	left: 330px;
	text-align: left;
}

.inside, .r-side {
	font-size: 72px;
	line-height: 1.2;
	color: #d6d6d6;
	text-align: center;
}

.r-side {
	text-align: right;
}

/*btn*/

.square_btn {
	color: #000;
	font-family: Lato;
	font-size: 12px;
	text-align: center;
	padding: 0 8pt;
	background: #f2f2f2;
	border: solid 1px #6e6e6e;
	border-radius: 1px;
	display: inline-block;
}

.square_btn:hover {
	color: #000;
	border: solid 1px #000;
	background: #fdfdfd;
}

/* page-top */

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}

#page-top a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 30px;
	padding: 5px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#page-top a:hover {
	text-decoration: none;
	background: #999;
}

/*lightbox*/

.trim_name {
	overflow-wrap: break-word;
}

/*fleXcroll*/

.scrollgeneric {
	/* 変更・省略不可 */
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

.vscrollerbase {
	/* 縦スクロールバー背景 */
	width: 15px;
	background-color: white;
}

.vscrollerbar {
	/* 縦スクロールバー */
	width: 15px;
	background-color: #b0b0b0;
}

.hscrollerbase {
	/* 横スクロールバー背景 */
	height: 15px;
	background-color: white;
}

.hscrollerbar {
	/* 横スクロールバー */
	height: 15px;
	background-color: #b0b0b0;
}