/*codeÅEimport*/
@charset "UTF-8";
.displayNone {
	display: none;
}

.accordion {
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

.switch {
	font-weight: bold;
}

.open {
	text-decoration: underline;
}