@charset "UTF-8";
/*基本*/
#hd_bg {
	font-size: 18px;
	margin: -8px 0 0 -8px;
	line-height: 1.2;
	background-color: #000000;
	width: 100% ;
	clear: both;
	position: fixed;
	z-index: 1;
	border-bottom:solid 2px #ffffff;
}
.lnk0:link {
	color: #ffffff;
	text-decoration: none;
}
.lnk0:visited {color: #ffffff;}
.lnk0:hover {color: #6bbef6;}	/*light blue*/
/*list*/
ul.hd_ul {
	padding: 0;
	margin: 10px 0 0 -10px;
	list-style: none;
	zoom: 1;
	display: inline-block ;
}
li.hd_li {
	padding: 0;
	margin: 0 0 0 27px;
	color: #fff ;
	float: left ;
}
