@charset "utf-8";
/*body*/
body {
	font-family: 'MS UI Gothic', "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 40px;
	font-size: 18px;			/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	letter-spacing: 0;
	text-align: left;
	color: #111;
	vertical-align: middle;
	background: #D6DBDF;
	white-space: nowrap;
	min-width: 200px;
}
#contents {
	margin-right: auto;
	margin-left : auto;
	background: #f8f9f7;	/*011930*/
	width: 98%;
}

/*format*/
h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p {
	font-size: 16px;	/*px以外、OperaやEDGEで文字サイズがChoromeより小さくなる */
	font-weight: 700;
	white-space: normal;	/*折り返し*/
	word-wrap: break-word;
}
h1 ,h2 {margin: 4px 4px 4px 18px;}
h3 ,h4 ,h5 ,h6 {
	margin: 4px 4px 2px 24px;
}
p {
	margin: 4px 4px 4px 32px;
}
hr {
	margin : 6px 10px;
	border: none;
	border-top: 1px #6e6e6e solid;
}
/*font*/
.clr-r {color: #ff0000;}	/*red*/
/*文字列*/
.left {text-align: left;}
.mid {text-align: center;}
.r ,.ru {text-align: right;}
/*▼*/
.bf2:before {
	content: "▼";
	margin: 0 4px 0 0;
	color: #444444;
}
.bf3:before {
	content: "■ ";
	color: #444444;	/*標準↑*/
}
/*M（左 margin）*/
.m0 {margin-left: 0;}
.m1 {margin-left: 1em;}
/*inline*/
.i {display: inline;}
.ib {display: inline-block;}
/*DIV*/
div {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;	/*DWで正常にプレビューできるようになる*/
	zoom: 1;		/*IE6でレイアウト崩れを防ぐ*/
}
.f {float: left;}
.float {clear: none;}		/*後続の左寄せを解除しない*/
.nofloat {float: none;}		/*後続の左寄せをしない*/
/*Accordion*/
.ac1 ,.ac2 {
	width: 100%;
	line-height: 14px;
	clear: both;
	cursor: pointer;
	background: #D6DBDF ;	/*backcolor*/
}
.ac2 {
	line-height: 44px;
}
